#
# You can add personal rules in your file .git/info/exclude
*.swp
*~
\#*#
.#*
.edts
*.dump
/Makefile
/config.log
/config.status
/configure
/aclocal.m4
/contrib/extract_translations/extract_translations.beam
/*.cache
/deps/
/doc/*.aux
/doc/*.haux
/doc/*.html
/doc/*.htoc
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.toc
/doc/contributed_modules.tex
/doc/version.tex
/ebin/
/ejabberd.init
/ejabberd.service
/ejabberdctl.example
XmppAddr.hrl
/rel/ejabberd/
/src/XmppAddr.asn1db
/src/XmppAddr.erl
/src/ejabberd.app.src
/src/eldap_filter_yecc.erl
/vars.config
/dialyzer/
/test/*.beam
/test/*.ctc
/logs/
/priv/sql
/rel/ejabberd
/_build
/mnesiadb
/.rebar

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
*.idea
*.iml
*.ipr
*.iws
out
build

#Ant
build.xml
local.properties
proguard.cfg
#Gradle
.gradle

#OSX
.DS_Store

#Windows
*.db

*.log
*target
*overlays
.metadata
build.sh
.springBeans
nbactions.xml
.mtj

*platforms
*node_modules
*bower_components
*.bzr
*.bzrignore

/vendor/
*.hprof
